# Ignore everything in the project
*

# But don't ignore the .gitignore file itself
!.gitignore

# The exact files to track
!insecure.out
!LICENSE.txt
!README.md
!Makefile
!ectf26_design
!ectf26_design/src
!ectf26_design/src/ectf26_design.egg-info
!ectf26_design/src/ectf26_design.egg-info/dependency_links.txt
!ectf26_design/src/ectf26_design.egg-info/requires.txt
!ectf26_design/src/ectf26_design.egg-info/top_level.txt
!ectf26_design/src/ectf26_design.egg-info/entry_points.txt
!ectf26_design/src/ectf26_design.egg-info/SOURCES.txt
!ectf26_design/src/ectf26_design.egg-info/PKG-INFO
!ectf26_design/src/gen_secrets.py
!ectf26_design/src/__init__.py
!ectf26_design/pyproject.toml
!firmware
!firmware/secrets_to_c_header.py
!firmware/src
!firmware/src/commands.c
!firmware/src/host_messaging.c
!firmware/src/simple_random.c
!firmware/src/HSM.c
!firmware/src/startup_mspm0l222x_ticlang.c
!firmware/src/syscalls.c
!firmware/src/security.c
!firmware/src/kernel.c
!firmware/src/simple_uart.c
!firmware/src/simple_flash.c
!firmware/src/simple_crypto.c
!firmware/src/filesystem.c
!firmware/src/ti_msp_dl_config.c
!firmware/Dockerfile
!firmware/firmware_mod.ld
!firmware/firmware.ld
!firmware/inc
!firmware/inc/simple_uart.h
!firmware/inc/commands.h
!firmware/inc/simple_flash.h
!firmware/inc/simple_random.h
!firmware/inc/filesystem.h
!firmware/inc/security.h
!firmware/inc/host_messaging.h
!firmware/inc/status_led.h
!firmware/inc/simple_crypto.h
!firmware/inc/user_settings.h
!firmware/inc/syscalls.h
!firmware/inc/ti_msp_dl_config.h
!firmware/inc/kernel.h
!firmware/Makefile
!firmware/build.sh



